


.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items in the center */
}

.projects-list h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Header color */
}

.projects-list h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555; /* Subheader color */
}

.projects-list p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #777; /* Paragraph text color */
}
