.pagination {
  display: flex;
  justify-content: center; /* Center pagination horizontally */
  align-items: center; /* Center pagination vertically */
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination a {
  padding: 5px 10px;
  background-color: #873fb4; /* Background color for pagination links */
  color: white;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.pagination a:hover,
.pagination a.active {
  background-color: #ce8ef0; /* Background color on hover and when active */
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items in the center */
}

.projects-list h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Header color */
}

.projects-list h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555; /* Subheader color */
}

.projects-list p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #777; /* Paragraph text color */
}
