.skill-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9; /* Background color */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-management-search-input {
  width: 30rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.skill-management-table {
  width: 100%;
  border-collapse: collapse;
}

.skill-management-table th,
.skill-management-table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: left;
}

.skill-management-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.skill-management-table select {
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f2f2f2;
  cursor: pointer;
}
.pagination li {
  list-style-type: none; /* Hide the markers */
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.pagination .active {
  background-color: #007bff;
  border-color: #007bff;
}

.pagination .disabled {
  opacity: 0.5;
  pointer-events: none;
}
.pagination .next-page{
  background-color:  #05367A;
  font-size: large;
  color: white;
 
 }
 .pagination .previous-page{
   background-color:  #05367A;
   font-size: large;
   margin-right: 10px;
 color: white;
 
  }