
    .update-user-account-type-container {
        position: relative;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 2rem;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    

.update-user-account-type-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.update-user-account-type-container h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.update-user-account-type-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.update-user-account-type-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.update-user-account-type-container button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
}

.update-user-account-type-container select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.update-user-account-type-container button {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #6063E9;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 600px) {
    .update-user-account-type-container h2 {
        font-size: 1.5rem;
    }

    .update-user-account-type-container h3 {
        font-size: 1.2rem;
    }

    .update-user-account-type-container li {
        flex-direction: column;
    }

    .update-user-account-type-container button {
        margin-top: 0.5rem;
    }
}
